#-- START -- Main Settings --#
# Environment
APP_ENV=dev

# Database config
DB_NAME=database_name_here
DB_USER=username_here
DB_PASSWORD=password_here
DB_HOST=localhost

DB_CHARSET=utf8
DB_COLLATE=

# Url and paths settings
WP_HOME=http://localhost:8080
WP_SITEURL=${WP_HOME}/wp
CONTENT_DIR=/app

# Salts
AUTH_KEY='put your unique phrase here'
SECURE_AUTH_KEY='put your unique phrase here'
LOGGED_IN_KEY='put your unique phrase here'
NONCE_KEY='put your unique phrase here'
AUTH_SALT='put your unique phrase here'
SECURE_AUTH_SALT='put your unique phrase here'
LOGGED_IN_SALT='put your unique phrase here'
NONCE_SALT='put your unique phrase here'
#-- END -- Main Settings --#

#-- START -- Other Settings --#
# Enable debug
WP_DEBUG=true

# Disable automatic updates
AUTOMATIC_UPDATER_DISABLED=true

# Disable wp cron
DISABLE_WP_CRON=false

# Disable file editiong from dashboard
DISALLOW_FILE_EDIT=true
DISALLOW_FILE_MODS=true

WP_USE_THEMES=true
#-- END -- Other Settings --#