public/wp
public/app/*
!public/app/mu-plugins
!public/app/themes

vendor
var

.env.local
.env.*.local
!.env.example

.const.local
.const.*.local
!.const.example

composer.lock
.php_cs.cache
.phpunit.result.cache
