public/wp
public/app/plugins/*
!public/app/plugins/.gitkeep
public/app/mu-plugins/*/
public/app/upgrade
public/app/uploads/*
!public/app/uploads/.gitkeep

vendor
var

.env.local
.env.*.local
!.env.example

composer.lock